---
import Layout from '../layouts/Layout.astro';
import Libros from '../components/Libros.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <main class="w-full flex-grow bg-academic-dark min-h-screen">
    <Libros />
    <Footer />
  </main>
</Layout>
