* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background-color: #d7d7d7;
  color: rgba(0, 0, 0, 0.87);
  height: 800px;
  margin: 0 auto; /* Centra el body en la ventana cuando esta es > 1280px */ 
  overflow-x: hidden; /* Evita el scroll horizontal si el contenido es fijo */ 
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}